body {
	font-family: Helvetica, Arial;
	font-weight: 200;
	color: #999;
	margin: 40px	;
}

li a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.text-box {
	width: 30%;
	display: inline-block;
}

.search-button {
	width: 15%;
	display: inline-block;
	padding: 2px !important;
}